# День 00 – Сбор и очистка данных

 Добро пожаловать в Jupyter Notebook! Это тот инструмент, в котором дата сайентисты проводят больше всего времени, работая с данными при помощи кода на Python. Здесь очень удобно работать в интерактивном режиме, запуская отдельные ячейки, а не весь код сразу и полностью. Тут же можно делать и отчеты, поскольку помимо кода, здесь удобно строить графики и писать текст.

Мы понимаем, что вы не программисты и скорее всего не планируете ими стать, поэтому насколько это возможно мы будем сопровождать такие ноутбуки комментариями и полезными командами, которые могут вам пригодиться для решения задачи. Но естественно здесь будет не всё: что-то вам придется поискать самостоятельно в интернете. Такова уж методология Школы 21, и она приносит свои плоды.

## 0. Импорт библиотек

Библиотека – это по сути набор полезных функций и методов, которые написали одни программисты, а другие программисты могут уже не писать их с нуля, а пользоваться готовыми. Например, вы хотите посчитать среднее арифметическое значение по ряду. Вы можете самостоятельно написать код, который посчитает сумму по ряду и поделит на количество элементов в ряду, а можете импортировать библиотеку, где уже есть эта функция и воспользоваться ею. Это сэкономит вам время, силы, и код будет менее объемным.

Ниже мы импортируем широко используемую библиотеку Pandas. В ней есть много полезных функций для работы с табличными данными. Почти Excel, только взаимодействие с ним через код на Python. Мы будем пользоваться этой библиотекой в течение всего курса.

In [ ]:
import pandas as pd #мы будем часто пользоваться методами этой библиотеки, поэтому введем для нее сокращенное название – pd
import numpy as np

Давайте познакомимся с библиотекой Pandas. Pandas - это библиотека языка Python, который предоставляет быстрые, гибкие и выразительные структуры данных, разработанные для того, чтобы сделать работу с табличными данными простой и интуитивно понятной.

## 1. Загрузка данных

In [ ]:
df1 = pd.read_csv('../datasets/dataset_1.csv') #указываем путь к файлу
df1.head() #посмотрим несколько первых строк получившегося датафрейма
ptd1 = pd.read_csv('../datasets/part_01.csv')
ptd2 = pd.read_csv('../datasets/part_02.csv')
ptd3 = pd.read_csv('../datasets/part_03.csv')
ptd4 = pd.read_csv('../datasets/part_04.csv')
ptd5 = pd.read_csv('../datasets/part_05.csv')
ptd6 = pd.read_csv('../datasets/part_06.csv')
ptd7 = pd.read_csv('../datasets/part_07.csv')
ptd8 = pd.read_csv('../datasets/part_08.csv')
ptd9 = pd.read_csv('../datasets/part_09.csv')
ptd10 = pd.read_csv('../datasets/part_10.csv')
ptd11 = pd.read_csv('../datasets/part_11.csv')
ptd12 = pd.read_csv('../datasets/part_12.csv')

In [ ]:
df = pd.read_csv('../datasets/dataset_2.csv')
df.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:fade9e846afa2931d45d997fb0b8a509364...
1                                           size 273

Если всё получилось, то вы увидите небольшой кусок таблицы: шапку, первые пять строчек

Загрузим еще несколько датасетов

In [ ]:
df2 = pd.read_csv('../datasets/dataset_2.csv')

In [ ]:
df2

       ID  AMOUNT_RUB_SUP_PRC  CNT_TRAN_ATM_TENDENCY1M APP_COMP_TYPE
0  358628            0.030183                 0.216216           NaN
1  528730                 NaN                      NaN       PRIVATE
2  160451            0.000765                      NaN         STATE
3  210467            0.009256                      NaN       PRIVATE
4  211110            0.023359                 0.238095       PRIVATE
5  333131            0.045329                 0.400000           NaN

In [ ]:
df3 = pd.read_csv('../datasets/dataset_3.csv') #указываем путь к файлу

In [ ]:
df3

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE
0,274285,0.998698,0.0,0.000000,0.000000,0.653846,NaN
1,577671,0.000000,0.0,0.036643,0.150664,NaN,NaN

## 2. Полезные команды

Ниже мы покажем несколько полезных команд, которые вам могут пригодиться для выполнения сегодняшнего задания.

1. Узнать **названия полей** в датафрейме.

In [ ]:
df1.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'APP_COMP_TYPE'],
      dtype='object')

2. Присоединить датафрейм **справа**:

In [ ]:
df4 = df1.merge(df2, left_on='ID', right_on='ID') # выбираем ID в качестве ключа, по которому датафреймы будут объединяться

In [ ]:
df4

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,APP_COMP_TYPE_x,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE_y
0,358628,0.914453,0.003802,0.000000,NaN,0.030183,0.216216,NaN
1,528730,NaN,NaN,NaN,PRIVATE,NaN,NaN,PRIVATE
2,160451,0.989403,0.000239,0.000992,STATE,0.000765,NaN,STATE
3,210467,0.561584,0.000000,0.016932,PRIVATE,0.009256,NaN,PRIVATE
4,211110,0.909531,0.051183,0.000000,PRIVATE,0.023359,0.238095,PRIVATE
5,333131,0.485581,0.008142,0.000000,NaN,0.045329,0.400000,NaN

2. Присоединить датафрейм **снизу**:

In [ ]:
df5 = pd.concat([df2, df4], ignore_index=True)
df5

,ID,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,APP_COMP_TYPE_x,APP_COMP_TYPE_y
0,358628,0.030183,0.216216,NaN,NaN,NaN,NaN,NaN,NaN
1,528730,NaN,NaN,PRIVATE,NaN,NaN,NaN,NaN,NaN
2,160451,0.000765,NaN,STATE,NaN,NaN,NaN,NaN,NaN
3,210467,0.009256,NaN,PRIVATE,NaN,NaN,NaN,NaN,NaN
4,211110,0.023359,0.238095,PRIVATE,NaN,NaN,NaN,NaN,NaN
5,333131,0.045329,0.400000,NaN,NaN,NaN,NaN,NaN,NaN
6,358628,0.030183,0.216216,NaN,0.914453,0.003802,0.000000,NaN,NaN
7,528730,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,PRIVATE
8,160451,0.000765,NaN,NaN,0.989403,0.000239,0.000992,STATE,STATE
9,210467,0.009256,NaN,NaN,0.561584,0.000000,0.016932,PRIVATE,PRIVATE
10,211110,0.023359,0.238095,NaN,0.909531,0.051183,0.000000,PRIVATE,PRIVATE
11,333131,0.045329,0.400000,NaN,0.485581,0.008142,0.000000,NaN,NaN

Теперь перейдем к этапу очистки данных. Напомним: вам нужно значения текстовых полей привести к единообразию. То есть слова, написанные немного по-разному, привести к одному варианту их написания.

Ниже вы найдете перечень команд, которые помогут справиться с этим заданием по очистке полученного на предыдущем шаге датасета.

4. Команда, которая поможет вам выявить, какие же поля являются текстовыми.

In [ ]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       12 non-null     int64
 1   AMOUNT_RUB_SUP_PRC       10 non-null     float64
 2   CNT_TRAN_ATM_TENDENCY1M  6 non-null      float64
 3   APP_COMP_TYPE            4 non-null      object
 4   AMOUNT_RUB_ATM_PRC       5 non-null      float64
 5   AMOUNT_RUB_CLO_PRC       5 non-null      float64
 6   AMOUNT_RUB_NAS_PRC       5 non-null      float64
 7   APP_COMP_TYPE_x          4 non-null      object
 8   APP_COMP_TYPE_y          4 non-null      object
dtypes: float64(5), int64(1), object(3)
memory usage: 992.0+ bytes

5. Команда, позволяющая посмотреть **список уникальных значений** в столбце:

In [ ]:
df5.APP_COMP_TYPE.unique()

array([nan, 'PRIVATE', 'STATE'], dtype=object)

 Она же, только представленная **в виде списка**. Бывает полезной, когда уникальных значений слишком много и в предыдущем варианте показываются не все из них. Плюс результат не содержит всякой лишней информации.

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'PRIVATE', 'STATE']

6. Команда, которая позволяет привести все значения признака в **в нижний регистр**:

In [ ]:
df5.APP_COMP_TYPE = df5.APP_COMP_TYPE.str.lower() #недостаточно просто применить метод lower к столбцу, нужно как бы его перезаписать

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'private', 'state']

7. Команда, которая позволяет заменить значения в столбце на другие значения:

In [ ]:
df5.APP_COMP_TYPE.replace('state','гос',inplace=True)

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'private', 'гос']

8. Команда, которая позволяет **отсортировать** значения в списке (может пригодиться, чтобы посмотреть на длинный список):

In [ ]:
list(df5.APP_COMP_TYPE.unique()).sort()

TypeError: '<' not supported between instances of 'str' and 'float'

После нее выведется ошибка, потому что в списке есть nan – специальный тип данных, обозначающий пустое значение. По этой причине не может отсортировать список: все значения текстовые, а одно значение nan. Нужно этот nan удалить из списка уникальных значений, чтобы не мешался. Не будем вдаваться в подробности почему ниже команда выглядит именно так. Она приводит нас к результату.

In [ ]:
spisok = [x for x in list(df5.APP_COMP_TYPE.unique()) if x == x]
spisok.sort()
spisok

['private', 'гос']

9. Команда, которая помогает **удалить из текстового поля числовые значения**, короткие значения, значения, где есть знаки препинания.

In [ ]:
df5.APP_COMP_TYPE.where(df5.APP_COMP_TYPE.str.replace(' ','').str.isalpha(), np.nan, inplace=True)

Если вам не хватает команд, представленных в этом ноутбуке, то вы можете **самостоятельно воспользоваться поиском в Google**.

    "pandas how to save a csv-file with header"
    
    "pandas how to save a csv-file with header"
     
    "pandas how to compare values of two columns"

## 3. Самостоятельная часть

Ниже вам нужно самим собрать целиком датасет из разрозненных кусков и почистить датасет в части текстовых полей.

### 3.1 Объединение датасета
Вам нужно собрать полный датасет, собранный из частей датасета всех участников.
1. Датасет должен содержать в шапке названия полей.
2. Датасет не должен содержать лишних столбцов – только те, что были представлены в частях датасета.
3. Датасет должен быть отсортирован по возрастанию значений поля `ID`.
4. В датасете не должно быть дублирующихся строк и столбцов.

In [ ]:
ptd1 = pd.read_csv('part_01.csv')
ptd2 = pd.read_csv('part_02.csv')
ptd3 = pd.read_csv('part_03.csv')
ptd4 = pd.read_csv('part_04.csv')
ptd5 = pd.read_csv('part_05.csv')
ptd6 = pd.read_csv('part_06.csv')
ptd7 = pd.read_csv('part_07.csv')
ptd8 = pd.read_csv('part_08.csv')
ptd9 = pd.read_csv('part_09.csv')
ptd10 = pd.read_csv('part_10.csv')
ptd11 = pd.read_csv('part_11.csv')
ptd12 = pd.read_csv('part_12.csv')

ptd1['ID'].unique

<bound method Series.unique of 0         358628
1         528730
2         160451
3         210467
4         292486
           ...
177590    436199
177591    302713
177592    388457
177593    364908
177594    278117
Name: ID, Length: 177595, dtype: int64>

In [ ]:
btm1 = pd.concat([ptd5, ptd12], ignore_index=True)
btm2 = pd.concat([ptd6, ptd10], ignore_index=True)
btm3 = pd.concat([ptd2, ptd11], ignore_index=True)
btm4 = pd.concat([ptd1, ptd9], ignore_index=True)
btm5 = pd.concat([ptd3, ptd8], ignore_index=True)
btm6 = pd.concat([ptd4, ptd7], ignore_index=True)

In [ ]:
final_dataset = btm1.merge(btm2, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm3, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm4, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm5, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm6, left_on='ID', right_on='ID')
final_dataset = final_dataset.sort_values(by='ID')
final_dataset

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,K01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,O01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,SISTER,0,0,0,0,1,0,K01,1

5. Выведете первые 10 строк объединенного датасета

In [ ]:
final_dataset.head(10)

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
340199,146846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,105,0
28089,146847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,105,0
106110,146848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,O01,0
351749,146850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.590335,NaN,0,0,0,0,2,0,O01,0
218996,146851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.590335,NaN,0,0,0,0,0,0,O01,0

In [ ]:
final_dataset = final_dataset.drop_duplicates(keep= False)

6. Выведите количество столбцов и колонок в объединенном датасете

In [ ]:
rows = len(final_dataset.axes[0])
cols = len(final_dataset.axes[1])

print("строки: " + str(rows))
print("столбцы: " + str(cols))

строки: 355190
столбцы: 116

7. Проверьте датасеты на отсутствие дубликатов

In [ ]:
df_dp = final_dataset[final_dataset.duplicated ()]
print(df_dp)

Empty DataFrame
Columns: [ID, CNT_ACCEPTS_MTP, CNT_ACCEPTS_TK, PRC_ACCEPTS_A_AMOBILE, PRC_ACCEPTS_A_ATM, PRC_ACCEPTS_A_EMAIL_LINK, PRC_ACCEPTS_A_MTP, PRC_ACCEPTS_A_POS, PRC_ACCEPTS_A_TK, PRC_ACCEPTS_MTP, PRC_ACCEPTS_TK, REST_AVG_CUR, REST_AVG_PAYM, REST_DYNAMIC_CC_1M, REST_DYNAMIC_CC_3M, REST_DYNAMIC_CUR_1M, REST_DYNAMIC_CUR_3M, REST_DYNAMIC_FDEP_1M, REST_DYNAMIC_FDEP_3M, REST_DYNAMIC_IL_1M, REST_DYNAMIC_IL_3M, REST_DYNAMIC_PAYM_1M, REST_DYNAMIC_PAYM_3M, REST_DYNAMIC_SAVE_3M, TURNOVER_CC, TURNOVER_DYNAMIC_CC_1M, TURNOVER_DYNAMIC_CC_3M, TURNOVER_DYNAMIC_CUR_1M, TURNOVER_DYNAMIC_CUR_3M, TURNOVER_DYNAMIC_IL_1M, TURNOVER_DYNAMIC_IL_3M, TURNOVER_DYNAMIC_PAYM_1M, TURNOVER_DYNAMIC_PAYM_3M, TURNOVER_PAYM, AGE, APP_CAR, APP_COMP_TYPE, APP_DRIVING_LICENSE, APP_EDUCATION, APP_EMP_TYPE, APP_KIND_OF_PROP_HABITATION, APP_MARITAL_STATUS, APP_POSITION_TYPE, APP_REGISTR_RGN_CODE, APP_TRAVEL_PASS, AMOUNT_RUB_ATM_PRC, AMOUNT_RUB_CLO_PRC, AMOUNT_RUB_NAS_PRC, AMOUNT_RUB_SUP_PRC, CNT_TRAN_ATM_TENDENCY1M, CNT_TRAN_ATM_TENDENCY3M, CNT_TRAN_AUT_TENDENCY1M, CNT_TRAN_AUT_TENDENCY3M, CNT_TRAN_CLO_TENDENCY1M, CNT_TRAN_CLO_TENDENCY3M, CNT_TRAN_MED_TENDENCY1M, CNT_TRAN_MED_TENDENCY3M, CNT_TRAN_SUP_TENDENCY1M, CNT_TRAN_SUP_TENDENCY3M, SUM_TRAN_ATM_TENDENCY1M, SUM_TRAN_ATM_TENDENCY3M, SUM_TRAN_AUT_TENDENCY1M, SUM_TRAN_AUT_TENDENCY3M, SUM_TRAN_CLO_TENDENCY1M, SUM_TRAN_CLO_TENDENCY3M, SUM_TRAN_MED_TENDENCY1M, SUM_TRAN_MED_TENDENCY3M, SUM_TRAN_SUP_TENDENCY1M, SUM_TRAN_SUP_TENDENCY3M, TRANS_AMOUNT_TENDENCY3M, TRANS_CNT_TENDENCY3M, TRANS_COUNT_ATM_PRC, TRANS_COUNT_NAS_PRC, TRANS_COUNT_SUP_PRC, AVG_PCT_DEBT_TO_DEAL_AMT, AVG_PCT_MONTH_TO_PCLOSE, DEAL_GRACE_DAYS_ACC_AVG, DEAL_GRACE_DAYS_ACC_MAX, DEAL_GRACE_DAYS_ACC_S1X1, DEAL_YQZ_IR_MAX, DEAL_YQZ_IR_MIN, DEAL_YWZ_IR_MAX, DEAL_YWZ_IR_MIN, LDEAL_ACT_DAYS_ACC_PCT_AVG, LDEAL_ACT_DAYS_PCT_AAVG, LDEAL_ACT_DAYS_PCT_CURR, LDEAL_ACT_DAYS_PCT_TR, LDEAL_ACT_DAYS_PCT_TR3, LDEAL_ACT_DAYS_PCT_TR4, LDEAL_AMT_MONTH, LDEAL_DELINQ_PER_MAXYQZ, LDEAL_DELINQ_PER_MAXYWZ, LDEAL_GRACE_DAYS_PCT_MED, LDEAL_TENOR_MAX, LDEAL_TENOR_MIN, LDEAL_USED_AMT_AVG_YQZ, LDEAL_USED_AMT_AVG_YWZ, LDEAL_YQZ_CHRG, LDEAL_YQZ_COM, LDEAL_YQZ_PC, ...]
Index: []

[0 rows x 116 columns]

### 3.2. Очистка текстовых данных
Теперь можно приступать к очистке данных. Для этого нужно:
1. Найти в получившемся датасете все поля, которые являются текстовыми.
2. Привести их значения к нижнему регистру.
3. В тех полях, где есть одновременно русское и английское написание одного и того же слова, оставить только русское (заменить английское на русское). Это условие не применять к полю `CLNT_JOB_POSITION`. Это будет чересчур даже для нашего курса :)
4. Если текстовое значение состоит только из “` `“ (пробел), то его заменить на `NaN` (пустое значение, а не строку 'NaN').
5. Если в текстовом значении есть цифры (телефон, дата рождения и др.), то всё значение текстового поля тоже заменить на `NaN`. Поле `PACK` оставить в исходном виде. Оно отвечает за пакет услуг клиента, и нам эта информация может быть важной. Затирать ее на пустые значения было бы опрометчиво.
6. Если есть столбцы, которые абсолютно идентичны по своим значениям для одних и тех же строк, то оставить только тот столбец, который идет первее. Речь идет только о текстовых полях.

In [ ]:
final_dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 355190 entries, 179094 to 330689
Data columns (total 116 columns):
 #    Column                       Dtype
---   ------                       -----
 0    ID                           int64
 1    CNT_ACCEPTS_MTP              float64
 2    CNT_ACCEPTS_TK               float64
 3    PRC_ACCEPTS_A_AMOBILE        float64
 4    PRC_ACCEPTS_A_ATM            float64
 5    PRC_ACCEPTS_A_EMAIL_LINK     float64
 6    PRC_ACCEPTS_A_MTP            float64
 7    PRC_ACCEPTS_A_POS            float64
 8    PRC_ACCEPTS_A_TK             float64
 9    PRC_ACCEPTS_MTP              float64
 10   PRC_ACCEPTS_TK               float64
 11   REST_AVG_CUR                 float64
 12   REST_AVG_PAYM                float64
 13   REST_DYNAMIC_CC_1M           float64
 14   REST_DYNAMIC_CC_3M           float64
 15   REST_DYNAMIC_CUR_1M          float64
 16   REST_DYNAMIC_CUR_3M          float64
 17   REST_DYNAMIC_FDEP_1M         float64
 18   REST_DYNAMIC_FDEP_3M         float64
 19   REST_DYNAMIC_IL_1M           float64
 20   REST_DYNAMIC_IL_3M           float64
 21   REST_DYNAMIC_PAYM_1M         float64
 22   REST_DYNAMIC_PAYM_3M         float64
 23   REST_DYNAMIC_SAVE_3M         float64
 24   TURNOVER_CC                  float64
 25   TURNOVER_DYNAMIC_CC_1M       float64
 26   TURNOVER_DYNAMIC_CC_3M       float64
 27   TURNOVER_DYNAMIC_CUR_1M      float64
 28   TURNOVER_DYNAMIC_CUR_3M      float64
 29   TURNOVER_DYNAMIC_IL_1M       float64
 30   TURNOVER_DYNAMIC_IL_3M       float64
 31   TURNOVER_DYNAMIC_PAYM_1M     float64
 32   TURNOVER_DYNAMIC_PAYM_3M     float64
 33   TURNOVER_PAYM                float64
 34   AGE                          int64
 35   APP_CAR                      object
 36   APP_COMP_TYPE                object
 37   APP_DRIVING_LICENSE          object
 38   APP_EDUCATION                object
 39   APP_EMP_TYPE                 object
 40   APP_KIND_OF_PROP_HABITATION  object
 41   APP_MARITAL_STATUS           object
 42   APP_POSITION_TYPE            object
 43   APP_REGISTR_RGN_CODE         float64
 44   APP_TRAVEL_PASS              object
 45   AMOUNT_RUB_ATM_PRC           float64
 46   AMOUNT_RUB_CLO_PRC           float64
 47   AMOUNT_RUB_NAS_PRC           float64
 48   AMOUNT_RUB_SUP_PRC           float64
 49   CNT_TRAN_ATM_TENDENCY1M      float64
 50   CNT_TRAN_ATM_TENDENCY3M      float64
 51   CNT_TRAN_AUT_TENDENCY1M      float64
 52   CNT_TRAN_AUT_TENDENCY3M      float64
 53   CNT_TRAN_CLO_TENDENCY1M      float64
 54   CNT_TRAN_CLO_TENDENCY3M      float64
 55   CNT_TRAN_MED_TENDENCY1M      float64
 56   CNT_TRAN_MED_TENDENCY3M      float64
 57   CNT_TRAN_SUP_TENDENCY1M      float64
 58   CNT_TRAN_SUP_TENDENCY3M      float64
 59   SUM_TRAN_ATM_TENDENCY1M      float64
 60   SUM_TRAN_ATM_TENDENCY3M      float64
 61   SUM_TRAN_AUT_TENDENCY1M      float64
 62   SUM_TRAN_AUT_TENDENCY3M      float64
 63   SUM_TRAN_CLO_TENDENCY1M      float64
 64   SUM_TRAN_CLO_TENDENCY3M      float64
 65   SUM_TRAN_MED_TENDENCY1M      float64
 66   SUM_TRAN_MED_TENDENCY3M      float64
 67   SUM_TRAN_SUP_TENDENCY1M      float64
 68   SUM_TRAN_SUP_TENDENCY3M      float64
 69   TRANS_AMOUNT_TENDENCY3M      float64
 70   TRANS_CNT_TENDENCY3M         float64
 71   TRANS_COUNT_ATM_PRC          float64
 72   TRANS_COUNT_NAS_PRC          float64
 73   TRANS_COUNT_SUP_PRC          float64
 74   AVG_PCT_DEBT_TO_DEAL_AMT     float64
 75   AVG_PCT_MONTH_TO_PCLOSE      float64
 76   DEAL_GRACE_DAYS_ACC_AVG      float64
 77   DEAL_GRACE_DAYS_ACC_MAX      float64
 78   DEAL_GRACE_DAYS_ACC_S1X1     float64
 79   DEAL_YQZ_IR_MAX              float64
 80   DEAL_YQZ_IR_MIN              float64
 81   DEAL_YWZ_IR_MAX              float64
 82   DEAL_YWZ_IR_MIN              float64
 83   LDEAL_ACT_DAYS_ACC_PCT_AVG   float64
 84   LDEAL_ACT_DAYS_PCT_AAVG      float64
 85   LDEAL_ACT_DAYS_PCT_CURR      float64
 86   LDEAL_ACT_DAYS_PCT_TR        float64
 87   LDEAL_ACT_DAYS_PCT_TR3       float64
 88   LDEAL_ACT_DAYS_PCT_TR4       float64
 89   LDEAL_AMT_MONTH              float64
 90   LDEAL_DELINQ_PER_MAXYQZ      float64
 91   LDEAL_DELINQ_PER_MAXYWZ      float64
 92   LDEAL_GRACE_DAYS_PCT_MED     float64
 93   LDEAL_TENOR_MAX              float64
 94   LDEAL_TENOR_MIN              float64
 95   LDEAL_USED_AMT_AVG_YQZ       float64
 96   LDEAL_USED_AMT_AVG_YWZ       float64
 97   LDEAL_YQZ_CHRG               float64
 98   LDEAL_YQZ_COM                float64
 99   LDEAL_YQZ_PC                 float64
 100  MAX_PCLOSE_DATE              float64
 101  MED_DEBT_PRC_YQZ             float64
 102  MED_DEBT_PRC_YWZ             float64
 103  CLNT_JOB_POSITION            object
 104  CLNT_JOB_POSITION_TYPE       object
 105  CLNT_SALARY_VALUE            float64
 106  CLNT_SETUP_TENOR             float64
 107  CLNT_TRUST_RELATION          object
 108  CR_PROD_CNT_CC               int64
 109  CR_PROD_CNT_CCFP             int64
 110  CR_PROD_CNT_IL               int64
 111  CR_PROD_CNT_PIL              int64
 112  CR_PROD_CNT_TOVR             int64
 113  CR_PROD_CNT_VCU              int64
 114  PACK                         object
 115  TARGET                       int64
dtypes: float64(94), int64(9), object(13)
memory usage: 317.1+ MB

In [ ]:
final_dataset.APP_CAR = final_dataset.APP_CAR.str.lower()
final_dataset.APP_COMP_TYPE = final_dataset.APP_COMP_TYPE.str.lower()
final_dataset.APP_DRIVING_LICENSE = final_dataset.APP_DRIVING_LICENSE.str.lower()
final_dataset.APP_EDUCATION = final_dataset.APP_EDUCATION.str.lower()
final_dataset.APP_EMP_TYPE = final_dataset.APP_EMP_TYPE.str.lower()
final_dataset.APP_KIND_OF_PROP_HABITATION = final_dataset.APP_KIND_OF_PROP_HABITATION.str.lower()
final_dataset.APP_MARITAL_STATUS = final_dataset.APP_MARITAL_STATUS.str.lower()
final_dataset.APP_POSITION_TYPE = final_dataset.APP_POSITION_TYPE.str.lower()
final_dataset.APP_TRAVEL_PASS = final_dataset.APP_TRAVEL_PASS.str.lower()
final_dataset.CLNT_JOB_POSITION = final_dataset.CLNT_JOB_POSITION.str.lower()
final_dataset.CLNT_JOB_POSITION_TYPE = final_dataset.CLNT_JOB_POSITION_TYPE.str.lower()
final_dataset.CLNT_TRUST_RELATION = final_dataset.CLNT_TRUST_RELATION.str.lower()
final_dataset.PACK = final_dataset.PACK.str.lower()

In [ ]:
final_dataset

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,k01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,sister,0,0,0,0,1,0,k01,1

In [ ]:
final_dataset.replace(' ', np.nan, regex=True)

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,k01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1

In [ ]:
final_dataset.APP_MARITAL_STATUS.where(final_dataset.APP_MARITAL_STATUS.str.replace(' ' ,'').str.isalpha(), np.nan, inplace=True)

7. Выведите количество уникальных значения в полях CLNT_TRUST_RELATION, APP_MARITAL_STATUS, CLNT_JOB_POSITION

In [ ]:
final_dataset.CLNT_TRUST_RELATION.unique()

array([nan, 'mother', 'brother', 'friend', 'sister', 'other', 'relative',
       'daughter', 'son', 'father', 'близкий ро', 'друг', 'отец',
       'сестра', 'сын', 'мать', 'муж', 'брат', 'дальний ро', 'дочь',
       'жена'], dtype=object)

In [ ]:
final_dataset.CLNT_TRUST_RELATION.replace('mother','мать',inplace=True) 
final_dataset.CLNT_TRUST_RELATION.replace('brother','брат',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('friend','друг',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('sister','сестра',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('other','дальний ро',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('relative','близкий ро',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('daughter','дочь',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('son','сын',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('father','отец',inplace=True)

final_dataset.CLNT_TRUST_RELATION.unique()

array([nan, 'мать', 'брат', 'друг', 'сестра', 'дальний ро', 'близкий ро',
       'дочь', 'сын', 'отец', 'муж', 'жена'], dtype=object)

In [ ]:
final_dataset.CLNT_TRUST_RELATION.nunique(dropna = True)

11

In [ ]:
final_dataset.APP_MARITAL_STATUS.unique()

array([nan, 'd', 'm', 'v', 't', 'n', 'w', 'c'], dtype=object)

In [ ]:
final_dataset.APP_MARITAL_STATUS.nunique(dropna = True)

7

In [ ]:
final_dataset.CLNT_JOB_POSITION.unique()

array(['начальник отдела', nan, 'генеральный директор', ...,
       'эксперт контакт центра', 'прохлдчик',
       'художник компьютерной графики'], dtype=object)

In [ ]:
final_dataset.CLNT_JOB_POSITION.nunique(dropna = True)

15111

In [ ]:
final_dataset = final_dataset.T.drop_duplicates().T

8. Выведите колонки итогового датасета

In [ ]:
final_dataset.head(50)

,ID,CNT_ACCEPTS_MTP,REST_AVG_CUR,REST_AVG_PAYM,REST_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,REST_DYNAMIC_CUR_1M,REST_DYNAMIC_CUR_3M,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_FDEP_3M,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,156067.339767,0.0,0.0,0.0,0.134651,0.474134,0.0,0.0,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,4278.845817,0.0,0.0,0.0,0.239365,0.384264,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,112837.062817,0.0,0.0,0.0,0.084341,0.336136,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,42902.902883,0.0,0.0,0.0,0.005659,0.019648,0.0,0.0,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,71906.476533,0.0,0.0,0.0,0.166946,0.556935,0.0,0.0,...,1.583333,NaN,0,0,0,0,0,0,102,0
340199,146846,NaN,0.0,105180.487383,0.0,0.0,0.0,0.0,0.0,0.0,...,1.593023,NaN,0,0,0,0,0,0,105,0
28089,146847,NaN,0.0,1611.342217,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,105,0
106110,146848,NaN,1711.873433,0.0,0.0,0.0,0.929217,0.929784,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,o01,0
351749,146850,0.0,116791.222983,0.0,0.0,0.0,0.707973,0.771877,0.0,0.0,...,1.590335,NaN,0,0,0,0,2,0,o01,0
218996,146851,NaN,51312.385183,0.0,0.0,0.0,0.324353,0.797624,0.0,0.0,...,1.590335,NaN,0,0,0,0,0,0,o01,0
736,146853,NaN,172001.723267,0.0,0.0,0.0,0.131789,0.405121,0.0,0.0,...,9.75,NaN,0,0,0,0,0,0,k01,0
2680,146854,NaN,0.0,856.5,0.0,0.0,0.0,0.0,0.0,0.0,...,9.762378,мать,0,0,2,0,0,0,105,0
114851,146855,0.0,0.0,17353.080083,0.0,0.0,0.0,0.0,0.0,0.0,...,9.770442,брат,0,0,0,1,0,0,105,0
102164,146856,0.0,0.0,41453.2282,0.0,0.0,0.0,0.0,0.0,0.0,...,9.75969,друг,0,0,0,1,1,0,105,0
144330,146857,NaN,347.860133,0.0,0.0,0.0,0.63381,0.961553,0.0,0.0,...,7.789259,друг,0,0,0,0,1,0,k01,0
150130,146858,0.0,32054.85475,0.0,0.0,0.0,0.256838,0.368946,0.0,0.0,...,7.786571,NaN,0,0,0,0,0,0,102,0
4066,146859,NaN,4735.211717,28.027533,0.0,0.0,0.180366,0.894547,0.0,0.0,...,7.73012,NaN,0,0,0,0,0,0,102,0
128493,146860,0.0,23936.843317,0.0,0.0,0.0,0.183942,0.550297,0.0,0.0,...,7.767754,NaN,0,0,0,0,0,0,o01,0
84103,146861,0.0,189541.425317,0.0,0.0,0.0,0.297561,0.889624,0.0,0.0,...,7.73012,NaN,0,0,0,0,0,0,102,0
115443,146862,0.0,0.0,37673.55295,0.0,0.0,0.0,0.0,0.0,0.0,...,7.767754,NaN,0,0,0,0,0,0,105,0
313708,146863,0.0,109136.288333,0.0,0.0,0.0,0.25555,0.599655,0.0,0.0,...,7.767754,друг,0,0,0,0,0,0,o01,0
108297,146864,0.0,164816.4788,0.0,0.0,0.0,0.073386,0.458099,0.0,0.0,...,7.39141,NaN,0,0,0,0,1,0,102,0
230810,146865,0.0,52330.833133,0.0,0.0,0.0,0.115007,0.478318,0.0,0.0,...,7.383345,NaN,0,0,0,0,0,0,102,0
95165,146866,NaN,4017.681,0.0,0.0,0.0,0.318384,0.366645,0.0,0.0,...,7.42098,друг,0,0,0,0,0,0,102,0
310756,146867,0.0,211341.320967,0.0,0.0,0.0,0.174375,0.551151,0.0,0.0,...,7.42098,NaN,0,0,0,0,0,0,o01,0
238517,146870,0.0,4735.340883,5336.945783,0.0,0.0,0.123615,0.33052,0.0,0.0,...,7.445173,NaN,0,0,0,0,0,0,105,0
86495,146871,0.0,1049.544317,0.0,0.0,0.0,0.548043,0.597867,0.0,0.0,...,2.101087,мать,0,0,0,0,1,0,o01,1
153232,146872,NaN,372.021867,0.0,0.0,0.0,0.508451,0.929992,0.0,0.0,...,2.079582,друг,0,0,0,0,2,0,102,1
89626,146873,0.0,291962.3804,0.0,0.0,0.0,0.028499,0.282592,0.0,0.0,...,2.079582,NaN,0,0,0,0,0,0,o01,0
171131,146874,NaN,26591.227333,0.0,0.0,0.0,0.228262,0.536957,0.0,0.0,...,1.528507,сестра,0,0,0,0,0,0,102,0
219873,146875,NaN,50349.755383,0.0,0.0,0.0,0.259187,0.978182,0.0,0.0,...,1.528507,NaN,0,0,0,0,1,0,k01,1
31440,146876,NaN,92918.91695,0.0,0.0,0.0,0.007692,0.08325,0.0,0.0,...,1.431733,друг,0,0,0,0,0,0,k01,0
121545,146877,0.0,0.0,57749.4823,0.0,0.0,0.0,0.0,0.0,0.0,...,1.434421,NaN,0,0,0,0,0,0,105,0
75343,146878,NaN,15317.64255,0.0,0.0,0.0,0.08986,0.150832,0.0,0.0,...,1.431733,NaN,0,0,0,0,0,0,102,0
212350,146879,NaN,151823.172383,0.0,0.0,0.0,0.34899,0.745716,0.0,0.0,...,1.416667,NaN,0,0,0,0,0,0,102,0
212050,146881,NaN,19212.125317,0.0,0.166669,0.500007,0.235117,0.974237,0.0,0.0,...,11.778507,дальний ро,0,0,0,0,3,0,102,0
236289,146882,NaN,0.0,34108.944267,0.0,0.0,0.0,0.0,0.0,0.0,...,10.708614,друг,1,0,0,0,0,0,105,0
41932,146885,NaN,29143.47115,0.0,0.0,0.0,0.952767,1.0,0.0,0.0,...,3.11184,NaN,0,0,0,0,0,0,k01,0
4281,146886,NaN,52912.0124,0.0,0.0,0.0,0.185919,0.414909,0.0,0.0,...,3.122593,близкий ро,0,0,2,0,0,0,103,0
153682,146887,0.0,420082.613183,0.0,0.0,0.0,0.137935,0.487442,0.0,0.0,...,3.109152,дальний ро,0,0,2,0,0,0,102,0
111621,146888,NaN,15797.145467,8489.56,0.0,0.0,0.144452,0.496063,0.0,0.0,...,9.353776,NaN,0,0,0,0,0,0,102,0
278331,146889,NaN,1344.989133,0.0,0.0,0.0,0.24955,0.603942,0.0,0.0,...,9.372593,друг,1,0,0,2,2,0,102,0
321523,146890,0.0,271354.82205,0.0,0.0,0.0,0.13875,0.43276,0.0,0.0,...,9.353776,NaN,0,0,0,0,1,0,102,0
247307,146892,0.0,4841.529517,0.0,0.0,0.0,0.22302,0.353641,0.0,0.0,...,9.367216,NaN,0,0,0,0,0,0,101,0
97591,146893,NaN,0.0,29349.93905,0.0,0.0,0.0,0.0,0.0,0.0,...,9.356464,дальний ро,0,0,0,0,0,0,105,0
114212,146894,0.0,22293.496117,0.0,0.0,0.0,0.220875,0.529986,0.0,0.0,...,5.25969,NaN,0,0,0,0,0,0,k01,0
69702,146895,0.0,337611.1046,0.0,0.0,0.0,0.137743,0.445117,0.0,0.0,...,5.262378,NaN,0,0,0,0,0,0,o01,0
100646,146896,NaN,28443.79585,0.0,0.0,0.0,0.143031,0.493451,0.0,0.0,...,1.5527,NaN,0,0,0,0,0,0,o01,0
220780,146897,NaN,219330.912867,0.0,0.0,0.0,0.140723,0.483905,0.0,0.0,...,1.541948,NaN,0,0,0,0,0,0,102,0
340025,146899,NaN,2918.29585,0.0,0.0,0.0,0.187536,0.275004,0.0,0.0,...,7.050012,NaN,0,0,0,0,1,0,k01,0